# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

#robot
*.html
*.xml
*.log
*.png
pabot_results/
.pabotsuitenames
*.out

#ide
.project
.pydevproject
.idea
red.xml
libspecs
.settings/
