[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
robotframework = "*"
robotframework-lint = "*"
robotframework-requests = "*"
requests = "*"
PyYAML = "*"
robotframework-seleniumlibrary = "*"
webdrivermanager = "*"
docutils = "*"
webdriver-manager = "*"

[requires]
python_version = "3.7"
